.navbar-inverse > .container-fluid > .navbar-collapse > .navTitle{
    color: brown;
    margin-left: 450px;
}
.panel-success {
    border-color: #35aa47;
    margin-top: 30px;
    
}
#map {
    width: 100%;
    height: 600px;
    background-color: grey;
    }