<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Trang chủ </a>
        </div>
        <div class="collapse navbar-collapse" id="headerNavber">                    
            <h2 class ="navTitle" href="#">REQUEST MANAGEMENT</h2>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="signup" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Telephone Number</th> 
                        <th>Address</th>
                        <th>State</th>
                        <th>Book time</th>
                    </tr>
                    <tr>
                        <td>Thanh Vân</td>
                        <td>0981463592</td> 
                        <td data-address="{{addressReceived}}">
                            <div id="456">
                        </td>
                        <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-address="{{address}}">Đã có xe nhận</button></td>
                        <td>14h:55</td>
                    </tr>  
                    <tr>
                        <td>Lê Văn</td>
                        <td>0981463592</td> 
                        <td>12 Quốc Hương,phường Thảo Điền,Quận 2</td>
                        <td><button class="btn btn-default " id="btnSearch">Chưa được định vị</button></td>
                        <td>14h:55</td>
                    </tr>    
                    <tr>
                        <td>Hứa Vũ</td>
                        <td>0981463592</td> 
                        <td>12 Quốc Hương,phường Thảo Điền,Quận 2</td>
                        <td><button class="btn btn-default " id="btnSearch">Đang di chuyển</button></td>
                        <td>14h:55</td>
                    </tr>           
                </table>

        </div>
    </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thông tin tài xế</h4>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Telephone Number</th> 
                <th>Address</th>
            </tr>
            <tr>
                <td>Hoàng Tú</td>
                <td>0981463592</td> 
                <td>
                    <div id="123">

                    </div>
                </td>
                
            </tr>  
        </table>
      </div>
      <div class="modal-body">
        <div id="map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0ynsTMNrW9Y3ZrzsxCDxiAZPdzHNYQbE&callback=initMap">
</script>
<script>
		var map;
        var geocoder;

		function initMap() {
			//var khtn = new google.maps.LatLng(10.762999, 106.681178);
			//var landMark = new google.maps.LatLng(10.776530, 106.700980);
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 18,
                center: latlng
            }
			map = new google.maps.Map(document.getElementById('map'), mapOptions);
			//var marker = new google.maps.Marker({ position: khtn, map: map });
            geocoder = new google.maps.Geocoder();
			//-----------------------------------------
			var directionsService = new google.maps.DirectionsService();   
			var directionsDisplay = new google.maps.DirectionsRenderer({ map: map });   

			calculateAndDisplayRoute(directionsService, directionsDisplay);   

			function calculateAndDisplayRoute(directionsService, directionsDisplay) {
				directionsService.route({   
					origin: addressReceived,    
					destination: address,   
					travelMode: 'DRIVING',   
				}, function (response, status) {    
					if (status === google.maps.DirectionsStatus.OK) {
						directionsDisplay.setDirections(response); 
						showSteps(response); 
					} else {
						window.alert('Request for getting direction is failed due to ' + status);    // Hiển thị lỗi
					}
				});

			}
			//Hiển thị chỉ đường
			// function showSteps(directionResult) {
			// 	var myRoute = directionResult.routes[0].legs[0]; // Mình sẽ chỉ lấy 1 tuyến đường để hiển thị vì nó là tối ưu nhất cho người dùng.
			// 	var instructions = '<h3 class="distance">Quãng đường: ' + myRoute.distance.text + '</h3><br>';
			// 	instructions += '<h5 class="duration">Duration: ' + myRoute.duration.text + '</h5>';
			// 	instructions += '<h5 class="start_address">From: ' + myRoute.start_address + '</h5>';
			// 	instructions += '<h5 class="end_address">To: ' + myRoute.end_address + '</h5>';
			// 	instructions += '<p class="steps"><ol>';

			// 	for (var i = 0; i < myRoute.steps.length; i++) {
			// 		instructions += '<li>' + myRoute.steps[i].instructions + '</li>';
			// 	}
			// 	instructions += '</p></ol>';
			// 	document.getElementById("instructions").innerHTML = instructions; // Đặt kết quả vào <div id="instructions">
			// }


		}
        $('[data-toggle="modal"]').on('click', function(e){
            var $target = $(e.target);
            // modal targeted by the button
            var address = $target.data('address');
            var id = document.getElementById("123");
            id.innerHTML = address;

            geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
            });
            // get address received
            var addressReceived = $target.data('addressReceived');
            var id = document.getElementById("456");
            id.innerHTML = addressReceived;

            geocoder.geocode( { 'addressReceived': addressReceived}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
            });
        });

	</script>
    