<div class="text-center">
    <div class="panel panel-success">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <h2 class ="text">You have signed up sucessfully  </h2>
        <h4 class ="textItem"> Thank {{ name }} choosing Grap for me</h4>
        <a href="http://localhost:3001/request">
            <button type="button" class="btn btn-success center-block">Ok</button>
        </a>
    </div>
</div>