<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="col-lg-4  col-md-6 header-right">
                <h4 class="pb-30">Customer Information</h4>
                <form class="form" action="/request" method="POST">
                    <div class="from-group">
                        <input class="form-control txt-field" type="text" required="required" name="name" placeholder="Your name"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'">
                        <input class="form-control txt-field" type="tel" name="phone" required="required" placeholder="Phone number"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone number'">
                        <input class="form-control txt-field" type="address" name="address" required="required" placeholder="Address" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter address'">
                        <input class="form-control txt-field" type="text" name="note" placeholder="Note"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Note'">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-lg btn-block text-center text-uppercase" id="btnSearch">Order Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>