<div class="text-center">
    <div class="panel panel-success">
        <span class="glyphicon glyphicon-remove"></span>
        <h2 class ="text">Sorry !!User already exists </h2>
        <a href="http://localhost:3001/request">
            <button type="button" class="btn btn-success center-block">Ok</button>
        </a>
    </div>
</div>