<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel="stylesheet" type="text/css" href="sign-in-form.css">
    <link rel="stylesheet" type="text/css" href="success.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/bootstrap-3.3.7/css/bootstrap.min.css"> 
  </head>
  <body>
    {{{body}}}
  </body>
</html>
