
h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.pb-30 {
  padding-bottom: 30px;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner-area .overlay-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.header-right {
  background-color: #f9d700;
  border: 1px solid #4b5263;
  padding: 50px;
  text-align: center;
  margin-left: 350px;
  margin-top: 50px;
}
.header-right .form-control {
  font-size: 14px;
  padding: 0.575rem 0.75rem;
  background-color: #000000;
  border: none;
}


.header-right .txt-field {
  margin-bottom: 1rem;
}

.header-right .lnr {
  color: #222;
}

.header-right .dates {
  padding: 0.530rem 0.75rem;
  border: none;
}
.header-right .btn-lg {
  width: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #000000;
}
